:root
{
    --nav-color: rgb(63, 63, 63);
    --background: rgb(20, 21, 20);
    --accent-2: #ee4266ff;
    --accent: rgb(255, 222, 112);
    --oldlinks: rgb(97, 232, 225);
    --links: rgb(218, 255, 237);
    --text-color: white;
    --regular: 1em;
    --medium: 1.25em;
    --large: 1.5em;
    --xlarge: 1.75em;
}

body 
{
    color: white;
    background-color: var(--background);
    font-family: 'Poppins', sans-serif;
}

nav 
{
    font-weight: bold;
    font-size: var(--medium);
    box-shadow: var(--accent) 0em .0625em;
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--nav-color);
}

a
{
    color:var(--text-color);
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

nav li 
{
    display: inline-block;
    justify-content: space-between;
    list-style-type: none;
    padding-left: 2em;
    margin: .1em
}

ul li ul.dropdown li
{
    display: block;
}

ul li ul.dropdown
{
    position:absolute;
    display:none;
    z-index: 999;
    text-align: left;
    width: 20%;
    background-color: var(--nav-color);
    left: 8.1%;
}

ul li:hover ul.dropdown
{

    display: block;
    z-index: 0;
}

header
{
    line-height: .5em;
    text-align: center;
    margin-top: 5em;
    font-size: var(--xlarge);
    margin-bottom: 2em;
}

@media (max-width: 700px) {
    header {
        margin-top: 6em;
        line-height: 2em;
    }
  }

.gallery
{
    width: 20em;
    height: auto;
    text-align: center;
    margin-left: 0em;
    margin-bottom: 2em;
    float:left;

}

.gallery img 
{
    border: .250em solid var(--accent);
    width: 60%;
    border-radius: 1em;
}

.gallery img:hover
{
    border: .250em solid var(--accent-2);
}

.profile img 
{
    border: .250em solid var(--accent);
    width: 60%;
    border-radius: 1em;
}

.profile img:hover
{
    border: .250em solid var(--accent-2);
}

.gallery a
{
    display: block;
    font-size: var(--medium);
    font-weight: bold;
}

.ProfilePage
{
    font-size: var(--large);
    line-height: 1.5em;
    display: flex;
    justify-content: flex-start;
}

img.profile
{
    width: 10em;
    height: auto;
}

.ProfileDiv
{
    top: 0%;
    font-size: .75em;
}