:root
{
    --background: rgb(20, 21, 20);
    --red-crayola: #ee4266ff;
    --links: rgb(255, 222, 112);
    --oldlinks: rgb(97, 232, 225);
    --accent: rgb(218, 255, 237);
    --regular: 1em;
    --medium: 1.25em;
    --large: 1.5em; 
}

body 
{
    background-color: var(--background);
    color: white;
    margin: 0px;
    padding: 0px;
    
}

nav 
{
    font-size: large;
    box-shadow: var(--accent) 0em 0em .250em .125em;
    margin: 0px;
    padding: 0;
}

nav a
{
    color:var(--links);
    text-decoration: none;
}

nav a:hover
{
    text-decoration: underline;
}

header
{
    text-align: center;
    margin: 0px;
    padding: 0px;
}

header h3
{
    font-style: italic;
    overflow:hidden;
}

#gallery-all 
{
    display: flex;
    text-align: center;
}

.gallery img 
{
    border: .250em solid rgb(218, 255, 237, 75%);
    height: auto;
    width: 50%;
}

.gallery img:hover
{
    border: .250em solid rgb(218, 255, 237);
}

.photos .caroline 
{
    
}

.nametags 
{
    text-decoration: underline;
}